$width: 210px;
$height: 160px;
$transition: 0.5s;
$transform: 15deg;

$mts_color: red;
$mgf_color: green;
$bil_color: yellow;

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin bacgroundImg ($url)
{
    background-image: url($url);
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin transition($property)
{
    transition:$property;
}

.operator{
    height: $height;
    width: 210px;
    border:1px solid #D9D9D9;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        box-shadow: 0 0 3px #D9D9D9;
    }
}

@media (min-width: 992px)
{
    .container{
        max-width: 730px;
    }
}

.mts{
    content: url('/static/images/мтс.png');
    padding: 20px 0 20px 0;
}

.bil{
    content: url('/static/images/beeline.png');
}

.mgf{
    content: url('/static/images/mgf.png');
    padding: 25px 5px 25px 5px;
}

// .mts{
//     border: 2px solid $mts_color;
//     .name{
//         color:$mts_color;   
//     }

    // &:hover::before{
    //     background-color: $mts_color;
    // }
// }

// .operator{
//     cursor: pointer;
//     @extend %operator;
//     border-radius: 4px;
//     @include transition($transition);
//     @include transform(skewX(-$transform));
    
//     width: $width;
//     height: $height;
//     .name{
//         display: inline-block;
//         font-size: 90%;
//         font-weight: 700;
//         text-decoration: none;
//         padding: .25em .5em;
//         @include transform(skewX($transform));
//     }

//     &:hover{
//         width:$width+70px;
        
//         @include transition($transition);
//     }
// }